<header class="header   container ">
  <nav class="nav">
    <a class="logo" href="#">
      <img src="./img/logo.svg" alt="Yacht Adventures" width="23" height="23" title="Site Yacht Adventures">
       <span class="logo-name">Yacht Adventures</span>
          </a>

    <ul class="nav-list">
      <li class="nav-item">
        <a href="#about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#yachts" class="nav-link">Yachts</a>
      </li>
      <li class="nav-item">
        <a href="#reviews" class="nav-link">Reviews</a>
      </li>
    </ul>
    </nav> 
    <button class="gg_menu-left" type="button" title="Navigation" js-open-menu>
      <svg width="24" height="24">
        <use href="./img/icons.svg#menu-left"></use>
      </svg>
    </button>
</header>
