<!-- <section class="main-hero container">
<div class="main-hero-banner">
  <div class="main-hero-banner-bg">
<div class="main-hero-banner-zub"></div>
  </div>
  
</div>

</section> -->
<div class="ramka">
  <div class="post">
    <img class="img-yaht"  src="./img/img-yaht.png" alt="img-yaht">
    <div class="text-yaht">
          <h2 class="zag-thank">Thank you</h2>
          <p class="mod-text">Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in touch shortly
  to confirm your reservation and provide any additional information or assistance you may need.
          </p>
    </div>
   </div>
  <div class="ellipse-7268"></div>
</div>