<div class="main-bg container">

<p class="text">Lorem ipsum dolor <br>sit amet consectetur, adipisicing elit. Repudiandae, <br>saepe facilis? Voluptatibus alias repellat, minus rem repudiandae optio ratione a modi amet nihil! Suscipit, praesentium? <br>Excepturi, sapiente earum? Consequuntur, incidunt.</p> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>Repudiandae, saepe facilis? <br>Voluptatibus alias repellat,<br>
    minus rem repudiandae optio ratione a modi amet nihil! Suscipit, <br>praesentium?<br> Excepturi, <br>sapiente earum?
    Consequuntur,<br> incidunt.</p>
<div class="big-design">

</div>
</div>