<section class="section-mobile-menu">
    <div class="menu-container js-menu-container" id="mobile-menu">
        <div class="menu-mobile-head">
           <a class="logo" href="#">
            <img src="./img/logo.svg" alt="Yacht Adventures" width="23" height="23" title="Site Yacht Adventures">
            <span class="logo-name">Yacht Adventures</span>
        </a>
        <button class="menu-toggle js-close-menu" type="button" title="Navigation" js-open-menu>
            <svg width="24" height="24">
                <use href="./img/icons.svg#menu-left"></use>
            </svg>
        </button> 
        </div>
        
        <button class="menu-toggle js-close-menu">
            <svg class="button-modal-close-icon" width="8" height="8">
                <use href="./images/icons.svg#icon-close-black-18dp-2-1">
                </use>
            </svg>
        </button>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="#about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#yachts" class="nav-link">Yachts</a>
                </li>
                <li class="nav-item">
                    <a href="#reviews" class="nav-link">Reviews</a>
                </li>
            </ul>
    </div>
</section>