<section class="section-reviews container">
    <div class="reviews-box">
        <h2 class="head-reviews">
Yacht Adventures take pride in providing the best possible service and experience to our customers
        </h2>
        <p class="desk-reviews">
            Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find out
            what they have to say about their journey with us.

        </p>
        <div class="customers-slider">

        </div>
        <div>
            <ul class="customers-chec">
                <li class="customers-chec-item">
                    <div class="customers-chec-cir">
            
                    </div>
                </li>
                <li class="customers-chec-item">
                    <div class="customers-chec-cir">
            
                    </div>
                </li>
                <li class="customers-chec-item">
                    <div class="customers-chec-cir">
            
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>