<section class="cection-services container">
    <div>
        <ul class="cection-services-list">
            <li>
            <div class="div-img-servises">
                <img class="img-servises" src="./img/services/services-img-1@1x.png" alt="" width="335">
                 <button class ="but-servises">Diving</button>
            </div>
            </li>
                        <li>
                            <div class="div-img-servises">
                                <img class="img-servises" src="./img/services/services-img-2@1x.png" alt="" width="335">
                                <button class="but-servises">Fishing</button>
                            </div>
                        </li>
            <li>
                <div class="div-img-servises">
                    <img class="img-servises" src="./img/services/services-img-3@1x.png" alt="" width="335">
                    <button class="but-servises">Sunbathing</button>
                </div>
            </li>
        </ul>
    </div>
</section>