<section class="section-yahts">
    <div class="box-yahts container" >

<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-1@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>

        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-2@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-3@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-4@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-5@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-6@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-7@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-8@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
        <div class="swiper-slide">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-9@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        
        </div>
</div>
</div>





    <!-- navigation buttons -->
     <div class="button-prev but-yahts-slaid">
       <svg class="but-yahts-ar" width="18" height="8">
           <use href="./img/icons.svg#arrow-left"></use>
       </svg>
    </div>
     <div class="button-next but-yahts-slaid">
        <svg class="but-yahts-ar" width="18" height="8">
           <use href="./img/icons.svg#arrow-right"></use>
        </svg>
   </div>


</div>

</section>