    <!-- <div class="box-yahts"> -->

       <!-- <div class="kards-yahts"></div>
        <div class="button-yahts-slid">
                <button class="but-yahts-slaid">
                    <svg class="but-yahts-ar" width="18" height="8">
                        <use href="./img/icons.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="but-yahts-slaid">
                    <svg class="but-yahts-ar" width="18" height="8">
                    <use href="./img/icons.svg#arrow-right"></use>
                </svg>
            </button>
       </div> -->
<!--    
<swiper-container class="mySwiper" slides-per-view="3" centered-slides="true" space-between="30" pagination="true"
    pagination-type="fraction" navigation="true">

<div class="swiper">
   
    <div class="swip-wrap">
       
        <swiper-slide>
        <div class="swip">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-1@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                                              BUILDER <br>
                                              BUILT <br>
                                              GUESTS <br>
                                              PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                                            Admiral <br>
                                            2021 <br>
                                            11 in 5 cabins <br>
                                            €33,500,000 <br>
                    </p>
                </div>
            </div>
        </div>
        </swiper-slide>
        <swiper-slide>
        <div class="swip">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-2@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        </div>
        </swiper-slide>
        <swiper-slide>
        <div class="swip">
            <div class="kards-yahts">
                <img src="./img/yahts/yahts-img-3@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                <div class="head-yaht-box">
                    <p class="head-yaht">Arrow</p>
                    <p class="head2-yaht">LUXURY YAHTS</p>
                </div>
                <div class="desk-yaht">
                    <p class="head-desk-yaht">LENGTH <br>
                        BUILDER <br>
                        BUILT <br>
                        GUESTS <br>
                        PRICE <br>
                    </p>
                    <p class="znach-desk-yaht">48m(155ft) <br>
                        Admiral <br>
                        2021 <br>
                        11 in 5 cabins <br>
                        €33,500,000 <br>
                    </p>
                </div>
            </div>
        </div>
        </swiper-slide>
        <swiper-slide>
    <div class="swiper-slide">
        <div class="kards-yahts">
            <img src="./img/yahts/yahts-img-2@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
            <div class="head-yaht-box">
                <p class="head-yaht">Arrow</p>
                <p class="head2-yaht">LUXURY YAHTS</p>
            </div>
            <div class="desk-yaht">
                <p class="head-desk-yaht">LENGTH <br>
                    BUILDER <br>
                    BUILT <br>
                    GUESTS <br>
                    PRICE <br>
                </p>
                <p class="znach-desk-yaht">48m(155ft) <br>
                    Admiral <br>
                    2021 <br>
                    11 in 5 cabins <br>
                    €33,500,000 <br>
                </p>
            </div>
        </div>
    </div>
        </swiper-slide>
    </div>
    

     navigation buttons -->
<!-- <div class="append-buttons">
    <div class="append-buttons">
       <svg class="but-yahts-ar" width="18" height="8">
           <use href="./img/icons.svg#arrow-left"></use>
       </svg>
    </div>
    <div class="append-slide">
        <svg class="but-yahts-ar" width="18" height="8">
           <use href="./img/icons.svg#arrow-right"></use>
        </svg>
    </div>
</div>


</div>
</swiper-container>


</div> -->
<div class="mySwiperYacht">
<swiper-container class="mySwiper" slides-per-view="3" centered-slides="false" space-between="16" pagination="true"
    pagination-type="" navigation="true">
    <swiper-slide>
                <div class="swip">
                <div class="kards-yahts">
                    <img src="./img/yahts/yahts-img-1@1x.png" alt="yahts-img-1" width="280" class="foto-yaht">
                    <div class="head-yaht-box">
                        <p class="head-yaht">Arrow</p>
                        <p class="head2-yaht">LUXURY YAHTS</p>
                    </div>
                    <div class="desk-yaht">
                        <p class="head-desk-yaht">LENGTH <br>
                            BUILDER <br>
                            BUILT <br>
                            GUESTS <br>
                            PRICE <br>
                        </p>
                        <p class="znach-desk-yaht">48m(155ft) <br>
                            Admiral <br>
                            2021 <br>
                            11 in 5 cabins <br>
                            €33,500,000 <br>
                        </p>
                    </div>
                </div>
            </div>
    
    
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
</swiper-container>
</div>
<!-- <p class="append-buttons">
    <button class="prepend-2-slides">Prepend 2 Slides</button>
    <button class="prepend-slide">Prepend Slide</button>
    <button class="append-slide">Append Slide</button>
    <button class="append-2-slides">Append 2 Slides</button>
</p> -->

<script>
    const swiperEl = document.querySelector('swiper-container');
    const swiper = swiperEl.swiper;

    var appendNumber = 4;
    var prependNumber = 1;
    document
        .querySelector(".prepend-2-slides")
        .addEventListener("click", function (e) {
            e.preventDefault();
            swiper.prependSlide([
                '<swiper-slide>Slide ' + --prependNumber + "</swiper-slide>",
                '<swiper-slide>Slide ' + --prependNumber + "</swiper-slide>",
            ]);
        });
    document
        .querySelector(".prepend-slide")
        .addEventListener("click", function (e) {
            e.preventDefault();
            swiper.prependSlide(
                '<swiper-slide>Slide ' + --prependNumber + "</swiper-slide>"
            );
        });
    document
        .querySelector(".append-slide")
        .addEventListener("click", function (e) {
            e.preventDefault();
            swiper.appendSlide(
                '<swiper-slide>Slide ' + ++appendNumber + "</swiper-slide>"
            );
        });
    document
        .querySelector(".append-2-slides")
        .addEventListener("click", function (e) {
            e.preventDefault();
            swiper.appendSlide([
                '<swiper-slide>Slide ' + ++appendNumber + "</swiper-slide>",
                '<swiper-slide>Slide ' + ++appendNumber + "</swiper-slide>",
            ]);
        });
</script>