.reviews-sectionss {
  position: relative;
}
.box-rev {
  margin: 0 auto;
  width: 300px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.reviews-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
  color: var(--main-font-color);
  margin-bottom: 24px;
}
.reviews-page {
  color: var(--main-font-color);
  max-width: 300px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.28px;
}
.reviews-desc {
  margin-bottom: 40px;
}
.yacht-title-item {
  font-style: italic;
  background-image: var(--accent-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.reviews-item {
  max-width: 300px;
  height: 208px;
  padding: 24px;
  margin-bottom: 14px;
  border-radius: 24px;
  background-color: var(--secondary-background-color);
}
.reviews-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.reviews-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.72px;
  margin-bottom: 8px;
}
.reviews-text {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.24px;
  text-align: center;
  color: var(--main-font-color);
  width: 100%;
}
.swiperq {
  max-width: 704px;
  height: 250px;
  right: 0;
  margin: 0;
}
.swiper-pagination {
  /* max-height: 13px;
  */
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #1f212d;
  filter: drop-shadow(2px 1px 3px rgba(24, 55, 91, 0.2));
}
.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background-color: #88b3b9;
  border: #93abae 1px solid;
}
@media only screen and (min-width: 375px) {
  .box-rev {
    min-width: 335px;
  }
  .reviews-item {
    max-width: 335px;
  }
  .swiperq {
    max-width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .box-rev {
    min-width: 704px;
  }
  .swiperq,
  .reviews-sectionss {
    max-width: 704px;
  }
  .reviews-item {
    max-width: 344px;
  }
}
@media only screen and (min-width: 1280px) {
  .box-rev {
    min-width: 1216px;
  }
  .swiperq {
    max-width: 1216px;
  }
  .reviews-item {
    max-width: 384px;
  }
}
