/**
  |============================
  | include css partials with
  | default @import url() main-bg.css
  @import url('./reset.css');
@import url('./base.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./rent.css');
@import url('./yahtsfin.css');
@import url('./footer.css');
@import url('./yahtsfin.css');
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./main-hero.css');
@import url('./footer.css');
@import url('./yahts.css');

@import url('./main-bg.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./services.css');
@import url('./modal.css');

/* @import url('./go-top.css'); */
:root {
  --main-background-color: rgba(17, 19, 31, 1);
  --secondary-background-color: rgba(31, 33, 45, 1);
  --main-font-color: rgba(246, 245, 239, 1);
  --accent-color: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
  --button-lightgreen-color: rgba(147, 171, 174, 1);
  --button-lightgreen-hover: rgba(136, 179, 185, 1);
  --background-dark: #11131f;
  --background-grafit: #1f212d;
  --button-lightgreen-color: #93abae;
  --button-lightgreen-hover: #88b3b9;
  --linear-green: #bec7c2;
  --background-grad: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  --main-font-color: rgba(246, 245, 239, 1);
  --accent-color: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
}
html,
body {
  background-color: var(--background-dark);
  color: var(--background-milk);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main {
  /* flex: 1 0 auto; */
  flex-grow: 1;
}
