.section-yahts {
  margin-bottom: 250px;
  padding-left: 10px;
}
.box-yahts {
  position: relative;
  min-width: 320px;
}
.kards-yahts {
  max-width: 300px;
  height: 469px;
  flex-shrink: 0;
  background: #1f212d;
  border-radius: 30px;
  color: #f6f5ef;
}
.button-prev {
  position: absolute;
  bottom: -24px;
  left: 105px;
}
.button-next {
  position: absolute;
  bottom: -24px;
  right: 105px;
}

@media only screen and (min-width: 375px) {
  .section-yahts {
    padding-left: 0;
  }
  .box-yahts {
    min-width: 335px;
  }
  .kards-yahts {
    min-width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .box-yahts {
    min-width: 704px;
  }
  .kards-yahts {
    max-width: 344px;
  }
  .button-prev {
    left: 294px;
  }
  .button-next {
    right: 294px;
  }
}
@media only screen and (min-width: 1280px) {
  .box-yahts {
    width: 1094px;
    min-width: 1094px;
  }
  .kards-yahts {
    max-width: 354px;
  }
  .button-prev {
    top: 236px;
    left: -61px;
  }
  .button-next {
    top: 236px;
    right: -61px;
  }
}

.foto-yaht {
  transform: translateY(10px);
  margin: 0 auto;
}
.head-yaht {
  color: #f6f5ef;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.head2-yaht {
  color: #f6f5ef;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 14.16px */
  letter-spacing: 0.36px;
  text-transform: uppercase;
}
.head-yaht-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
}
.desk-yaht {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-left: 24px;
  margin-top: 24px;
}
.head-desk-yaht {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.znach-desk-yaht {
  color: #f6f5ef;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
}
/* мои кнопки */
.but-yahts-slaid {
  height: 36px;
  width: 46px;
  border: #f6f5ef 1px solid;
  border-radius: 60px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.but-yahts-ar {
  fill: #f6f5ef;
}
.button-yahts-slid {
  display: flex;
  gap: 14px;
  justify-content: center;
  margin-bottom: 80px;
}

/* начался слайдер */
.swiper {
  width: 1094px;
  height: 508px;
  background-color: transparent;
  right: 0;
  margin: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-backface-hidden .swiper-slide {
  /* background-color: rgb(231, 130, 130); */
}

.image-slider .swiper-slide {
  width: auto;
}
